.wrapper.login {
    background-color: #1F77D0;
    min-height: 100vh;
}

.full-page {
    padding-top: 100px;    
}

.card.login {
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-post-action.btn-simple.btn-icon {
    padding: 0 8px;
}

.btn-page-action.btn-simple.btn-icon {
    padding: 4px 8px;
}

.btn-create-page {
    
}